beautifulsoup4
jsonlines
numpy
openai
PyMuPDF
python_docx
requests
tqdm
validators
tiktoken
pydub
docx
pytest
pytest-mock
nltk
pytube
ebooklib
backoff
InstructorEmbedding
torch
sentence_transformers
python-dotenv
